h2, p {
  margin: 0.25em;
}

button {
  width: fit-content;
}

.button-box {
  display: flex;
  justify-content: center;
}

.spell-card {
  display: flex;
  max-height: 15em;
  overflow-y: scroll;
  flex-direction: column;
  color: #243E36;
  width: 15em;
  padding: 1em;
  margin: 1em;
  background-color: #F2EFC7;
  border: 5px solid #8B786D;
}

@media screen and (max-width: 1000px) {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8em;
    height: 3em;
  }
}

@media screen and (max-width: 500px) {
  .spell-card {
    max-height: 8em;
  }
}