.App {
  background-color: #E1D4ED;
  height: fit-content;
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-family: 'Merienda', cursive;
}

h1, span {
  color: #243E36;
  align-self: center;
}

p, button, h2, span {
  font-family: 'Salsa', cursive;
}

footer {
  display: flex;
  justify-content: center;
}

button {
  background-color: #44BBA4;
  border-radius: 5px;
}